<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="./bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="./summernote/dist/summernote.css" rel="stylesheet" type="text/css">
    <link href="./prism/prism.css" rel="stylesheet" type="text/css">
    <link href="./css/article.css" rel="stylesheet" type="text/css">
    <link href="./css/awesome-bootstrap-checkbox.css" rel="stylesheet" type="text/css" />


    <script type="text/javascript" src="./jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="./bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="./summernote/dist/summernote.js"></script>
    <script type="text/javascript" src="./socket.io/socket.io.js" ></script>
    <script type="text/javascript" src="./prism/prism.js" ></script>
    <script type="text/javascript" src="./summernote/summernote-ext-highlight.js"></script>
    <script type="text/javascript" src="./js/summernote-ext-roundtext.js"></script>
    <script type="text/javascript" src="./js/diffDOM.js"></script>
    <script type="text/javascript" src="./js/diffString.js"></script>
    <script type="text/javascript" src="./js/remark.js"></script>
    <script type="text/javascript" src="./js/article.js"></script>
    <title></title>
    <script>
        $(function () { $("[data-toggle='tooltip']").tooltip(); });
    </script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container ">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li class="navbar-text navbar-right">
                        online : <span id="online">0</span>
                    </li>
                    <li class="navbar-text navbar-right">
                        visitor : <span id="visitor"><%= article.visitor %></span>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">RemarkCall</h3>

            <ol class="breadcrumb" style="background: transparent;padding-left: 0em">
                <li><a href="/index">Home</a></li>
                <li class="active">
                    <%- article.title %>
                </li>
                <% if(article.isAuthor){ %>
                <span class="navbar-right text-muted checkbox  checkbox-inline checkbox-info">
                    <input id="editCheckbox" type="checkbox">
                    <label id="editLabel">
                        <% if(article.editable){%>
                        允许编辑
                        <% }else{ %>
                        不可编辑
                        <% } %>
                    </label>
                </span>
                <% }else{%>
                <span id="editLabel" class="navbar-right text-muted ">
                    <% if(article.editable){%>
                    允许编辑
                    <% }else{ %>
                    不可编辑
                    <% } %>
                </span>
                <% } %>
            </ol>
        </div>
        <div id="articleInfo" style="display: none">
            <%- JSON.stringify(articleInfo) %>
        </div>
    </div>
</nav>
<div class="container">
    <div id="summernote" >
        <%- article.content %>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom" >
    <div class="container ">
        <div class="clearfix text-muted" style="margin: 1em">
            <p class="text-center" style="font-size: 100%;margin: 0em">
                <b>
                    RemarkCall
                    <a class="glyphicon glyphicon-cloud" href="https://github.com/GargouillePao/remarkcall">
                    </a>
                </b>
            </p>
            <p class="text-center" style="font-size: 1%;margin: 0em">
                By Gargouille
            </p>
        </div>
    </div>
</nav>

<div id="remarkFloat" class="modal fade" role="dialog">
    <div class="modal-dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3>This is a Modal Heading</h3>
            </div>
            <ul class="modal-body list-group">
            </ul>
            <div id="remarkNote" style="float: left;"></div>
            <div class="modal-footer">
                <a href="#" id="remarkSubmit" class="btn btn-success">Remark!</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>