<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="../bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../summernote/dist/summernote.css" rel="stylesheet" type="text/css">
    <link href="../prism/prism.css" rel="stylesheet" type="text/css">
    <link href="../css/global.css" rel="stylesheet" type="text/css">
    <link href="../css/article.css" rel="stylesheet" type="text/css">
    <link href="../css/chat.css" rel="stylesheet" type="text/css">
    <link href="../css/awesome-bootstrap-checkbox.css" rel="stylesheet" type="text/css" />


    <script type="text/javascript" src="../jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="../summernote/dist/summernote.js"></script>
    <script type="text/javascript" src="../socket.io/socket.io.js" ></script>
    <script type="text/javascript" src="../prism/prism.js" ></script>
    <script type="text/javascript" src="../summernote/summernote-ext-highlight.js"></script>
    <script type="text/javascript" src="../js/summernote-ext-roundtext.js"></script>
    <script type="text/javascript" src="../js/summernote-ext-label.js"></script>
    <script type="text/javascript" src="../js/diffDOM.js"></script>
    <script type="text/javascript" src="../js/diffString.js"></script>
    <script type="text/javascript" src="../js/socketConfig.js" ></script>
    <script type="text/javascript" src="../js/navtop.js" ></script>
    <script type="text/javascript" src="../js/navcontext.js" ></script>
    <script type="text/javascript" src="../js/remark.js"></script>
    <script type="text/javascript" src="../js/article.js"></script>
    <script type="text/javascript" src="../js/chat.js"></script>
    <title>RemarkCall Article:<%- article.title %></title>
    <script>
        $(function () { $("[data-toggle='tooltip']").tooltip(); });
        $(function () {$('[data-toggle="popover"]').popover()});
        $('body').scrollspy({ target: '#navbar-content' });
    </script>
</head>
<body data-spy="scroll" data-target="#navbar-context">
<nav class="navbar navbar-default" id="top">
    <div class="container ">
        <div class="header clearfix">
            <% include navtop.ejs %>
            <h3 class="text-muted">RemarkCall</h3>
            <ol class="breadcrumb" style="background: transparent;padding-left: 0em;float:left;margin-right: 2em">
                <li><a href="/index">主页</a></li>
                <li><a href="/article">文章列表</a></li>
                <li class="active">
                    <%- article.title %>
                </li>

            </ol>
            <div class=" text-muted " style="padding: 0.5em;">
                <% if(articleInfo.isAuthor){ %>
                <span class="checkbox  checkbox-inline checkbox-info">
                    <% if(articleInfo.editable){%>
                    <input id="editCheckbox" checked type="checkbox">
                    <label id="editLabel">
                        允许编辑
                    </label>
                    <% }else{ %>
                    <input id="editCheckbox" type="checkbox">
                    <label id="editLabel">
                        不可编辑
                    </label>
                    <% } %>
                </span>
                <% }else{ %>
                <span id="editLabel" style="line-height: 1.6em;">
                    <% if(articleInfo.editable){%>
                    允许编辑
                    <% }else{ %>
                    不可编辑
                    <% } %>
                </span>
                <% } %>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="article-wrapper">
        <div id="summernote" >
            <%- article.content %>
        </div>
    </div>
    <div class="context-wrapper" id="navbar-context">
        <ul class="nav nav-pills nav-stacked" role="tablist">
            <li role="presentation" class="active"><a href="#top">Top</a></li>
            <li role="presentation"><a href="#bottom">Bottom</a></li>
        </ul>
    </div>
</div>
<% include navbottom.ejs %>
<div class="chat-bar-wrapper" data-toggle="tooltip" data-placement="top" title="Chatting!">
    <div id="chat-bar" class=" chat-bar btn btn-default"
         data-toggle="popover"
         data-placement="bottom"
         data-title="Chatting"
         data-template="<% include popoverListView.ejs %>"
         data-html="true"
         data-content="">
        <b>chat</b>
    </div>
</div>
<% include remarkListView.ejs %>
</body>
</html>