<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RemarkCall</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="./socket.io/socket.io.js" ></script>
    <link href="bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="./css/global.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="./js/navtop.js" ></script>
    <script type="text/javascript" src="./js/index.js" ></script>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container ">
        <div class="header clearfix">
            <% include navtop.ejs %>
            <h3 class="text-muted">RemarkCall</h3>
            <ol class="breadcrumb" style="background: transparent;padding-left: 0em">
                <li class="active">Home</li>
            </ol>
        </div>
    </div>
</nav>
<div class="container">
    <h1 style="font-family: 'Microsoft YaHei'">首页</h1>
    <div class="row">
        <a class="col-md-4" href="article">
            文章列表
            <span class="label label-default">
                <%- articleInfo.articleCount %>
            </span>
        </a>
    </div>
</div>
<% include navbottom.ejs %>
</body>
</html>