<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="./jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="./bootstrap/dist/js/bootstrap.js"></script>
    <link href="./bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="./css/global.css" rel="stylesheet" type="text/css">
    <script>
        function login(){
            var username = $('#username').val();
            var data = { "username": username };
            $.ajax({
                url:'login',
                type:'POST',
                data:data,
                success:function(data,status) {
                    if (status == "success") {
                        location.href = "index";
                    }
                },
                error:function(data,status,err){
                    if (status == "error") {
                        location.href = "login";
                    }
                }
            });
        }
    </script>
</head>
<body>

<nav class="navbar navbar-default ">
    <div class="container ">
        <div class="header clearfix">
            <h3 class="text-muted">RemarkCall</h3>
        </div>
    </div>
</nav>
<div class="container">
    <h1 class="text-center page-header">Login</h1>
    <form action="#login" role="form" class="form-horizontal">
        <div class="form-group center-block">
            <label for="username" class="col-md-4 control-label">name</label>
            <div class="col-md-4">
                <input  type="text" class="form-control " id="username" placeholder="请输入名称" onkeypress="if(event.keyCode==13) {login()}">
            </div>

        </div>
        <div class="form-group center-block">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4">
                <a class="btn btn-primary col-md-4"  onclick="login()" />
                Login
                </a>
            </div>
        </div>

    </form>
</div>

<% include navbottom.ejs %>
</body>
</html>