<nav id="bottom" class="navbar navbar-default navbar-fixed-bottom" >
    <div class="container ">
        <div class="clearfix text-muted" style="margin: 1em">
            <p class="text-center" style="font-size: 100%;margin: 0em">
                <b>
                    RemarkCall
                    <a class="glyphicon glyphicon-cloud" href="https://github.com/GargouillePao/remarkcall">
                    </a>
                </b>
            </p>
            <p class="text-center" style="font-size: 1%;margin: 0em">
                By Gargouille
            </p>
        </div>
    </div>
</nav>