<div class='popover chat-popover' role='tooltip'>
    <div class='arrow'>
    </div>
    <h3 class='popover-title'>
        Popover title
    </h3>
    <div class='chat-content-wrapper'>
        <ul class='popover-content list-group chat-content'>
        </ul>
    </div>

    <div class='chat-area'>
        <div class='chat-area-inner'>
            <div id='chat-note' class='chat-note'></div>
        </div>
        <div id='chat-summit' class='btn btn-success btn-block'>提交</div>
    </div>
</div>