<div id="remarkFloat" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm"  aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3 style="margin: 0em">This is a Modal Heading</h3>
            </div>
            <div class='remark-wrapper'>
                <ul class='modal-body list-group chat-content'>
                </ul>
            </div>
            <div class="page-header" style="margin-bottom: 0em"></div>
            <div class="chat-area ">
                <div class="chat-area-inner">
                    <div id="remarkNote"></div>
                </div>
                <a href="#" id="remarkSubmit" class="btn btn-success btn-block">评论!</a>
            </div>
        </div>
    </div>
</div>